{% extends 'parent.html'%}
{% load static %}
{% block body_part %}
<div class="container-fluid">
    <div class="row bg-image">
        <div class="col-md-12 p-5 transparent text-center">
            <h1 class="my-5">MY WEBSITE</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{%static 'images/laptop.jpg'%}" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="{%static 'images/laptop.jpg'%}" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="{%static 'images/laptop.jpg'%}" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="{%static 'images/laptop.jpg'%}" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="{%static 'images/laptop.jpg'%}" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="{%static 'images/laptop.jpg'%}" alt="" class="img-thumbnail">
        </div>
    </div>
</div>
{% endblock %}