{% extends 'parent.html' %}
{% block head %}
<style>
    h1{
            color:red;
            font-family: cursive;
        }
</style>
{% endblock %}
{% block body_part %}

<h1 class='text-center'>WELCOME TO MY SITE</h1>
    <!-- {{data}} -->
    <ol>
    {%for x in data %}
        <li>{{x.name}} - {{x.capital}} <br>
            <ol type="A">
            {% for i in x.borders %}
                <li>{{i}}</li>
            {% endfor %}
            </ol>
            <br/> <img src="{{x.flag}}" style='height:200px;width:250px;'>    
            <hr>
        </li>
    {% endfor %}
    </ol>
    <!-- <h2>{{ x|upper }}</h2>
    <p>Total Colors: {{colors|length}}</p>
    <p>{{colors.0}}</p>

    <table border="1" cellspacing="0" cellpadding="20" align="center" width="70%">
        <thead>
            <tr>
                <th>Color Name</th>
                <th>Color Demo</th>
            </tr>
        </thead>
        <tbody>
            {% for i in colors %}
                <tr>
                    <td>{{i}}</td>
                    <td><div style='height:100px;background:{{i}}'></div></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum at velit nobis iure vel iusto doloremque! Ratione sapiente debitis aspernatur culpa, ipsum voluptates perspiciatis laboriosam reprehenderit suscipit, adipisci minus! Rem!</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate amet cum non aperiam sit explicabo laborum nobis eligendi, molestiae minus! Laborum modi doloremque fugit voluptate. Ex fuga possimus neque!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate amet cum non aperiam sit explicabo laborum nobis eligendi, molestiae minus! Laborum modi doloremque fugit voluptate. Ex fuga possimus neque!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate amet cum non aperiam sit explicabo laborum nobis eligendi, molestiae minus! Laborum modi doloremque fugit voluptate. Ex fuga possimus neque!
    </p> -->

{% endblock %}