<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myproject | A Demo project</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        a{
            color:white;font-size: 20px;
            text-transform: uppercase;
            margin-right:30px;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="text-center bg-danger text-light p-5">
        <h1 class="text-light">THIS IS A HEADER </h1>
        <a href="{% url 'api' %}">Home</a>
        <a href="{% url 'index' %}">Countries</a>
        <a href="{% url 'about_page'%} ">About</a>
    </header>
    <section class="text-center">
        {% block body_part %}
        {% endblock %}
    </section>
    <footer class="text-center">
        <header>
            <h1 class="bg-danger text-light p-5">THIS IS A FOOTER </h1>
        </header>
    </footer>
</body>
</html>