
    <div style="width:300px;margin:100px auto;padding:20px;box-shadow:0px 0px 10px gray;text-align:center;background:black;color:white;">
        <img src='http://openweathermap.org/img/wn/03d@2x.png' >
        <h1>Clouds</h1>
        <p><em>(scattered clouds)</em></p>
        <p>Temp: 11.49&deg;C</p>
    </div>
