
    <div style="width:300px;margin:100px auto;padding:20px;box-shadow:0px 0px 10px gray;text-align:center;background:black;color:white;">
        <img src='http://openweathermap.org/img/wn/01d@2x.png' >
        <h1>Clear</h1>
        <p><em>(clear sky)</em></p>
        <p>Temp: 38.34&deg;C</p>
    </div>
