{% extends 'base.html' %}
{% block head %}
<style>
        .k{height: 1px;background-color: rgb(211, 207, 207);}
    .s{color:rgb(240, 240, 240);
    letter-spacing: 3px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 400;}
    .cncl_icn{
        float: left;
        margin: 15px;
        padding-top: 10px;
    }
    .a:hover{
        background-color:rgba(152, 209, 255, 0.705);color: rgb(255, 255, 255);box-shadow:0px 0px 7px 7px rgba(204, 201, 201, 0.5) ;
    }
    @media screen and (max-width:680px){
        .b{opacity: 0;}
        /* .v{position: absolute;top: 5px;} */
        .s{font-size: 15px;}
        }
    @media screen and (min-width:1024px){
        .s{font-size: 20px;}
        }
</style>
{% endblock %}

{% block body %}
{% if user.is_superuser %}
<div class="container-fluid "></div>
    <h1 class="jumbotron my-5 text-center" >You are not Allowed here</h1>
{% elif items|length is 0 %}
    <h1 class="alert alert-info m-5 text-center" >Your cart is empty! </h1>
{% else %}
     {% if status %}
       <h1 class="jumbotron my-5">{{status}}</h1>
     {% else %}
     {% if msg %}
     <div class="{{cls}}">{{msg}}</div>
     {% endif %}
       <div class="row v " style="margin-right: 0%;">
        <div class="col-lg-7"  >
            <div class="row text-center p-3  b" style="background-color: rgba(2, 184, 184, 0.863); background-attachment: fixed;">
                <div class="col-md-3 "> <h3 class="s">Product</h3></div>
                <div class="col-md-3 "><h3 class="s">Price</h3></div>
                <div class="col-md-3" style="margin-left: 65px;"><h3 class="s">Qantity</h3></div>
                <!-- <div class="col-md-3 "><h3 class="s">Total</h3></div> -->
            </div>
            {% for i in items %}
             <div class="row a border-bottom"  id="col{{i.product.id}}">
                <div class="col-md-3 text-center " >
                   <i class="far fa-times-circle cncl_icn" id="cross{{i.product.id}}" onclick="remove_cart('{{i.product.id}}')" data-toggle="tooltip"  style="font-size: 30px;"></i>
                    <img class="mt-4" src="/media/{{i.image}}" alt="check ur internet!" height="150px">
                    <a href="/product_detail/?id={{i.product.id}}" style="text-decoration: none;"><h4 class="ml-5" style="color: black;">{{i.product.name}}</h4></a>
                    <p class="ml-5">Size:{{i.product.size}} , color:{{i.product.color}}</p>
                </div>
                <div class="col-md-3 text-center mt-5">
                    {%if i.total_price < i.product.price%}
                    <del style="font-weight: bold; color: grey;" >${{i.product.price}}</del> $<p class="d-inline" style="font-weight: bold;" id="price{{i.product.id}}">{{i.total_price}}</p>
                    {% else %}
                    $<p class="d-inline" style="font-weight: bold;" id="price{{i.product.id}}">{{i.product.price}}</p>
                    {% endif %}
                </div>
                <div class="col-md-5 text-center">
                    <div class="form-group mt-4">
                        <div class="input-group">
                            <div class="input-group-btn ">
                                <button id="down" class="btn btn-default" onclick="change_quan('{{i.product.id}}','minus')"  style="font-size: 25px;background: none;border: none;font-weight: bold;">-</button>
                            </div>
                            <input type="number" id="cart{{i.product.id}}"  class="form-control text-center pt-3" value="{{i.quantity}}" style="width: 30px;border: none;font-weight: bold;background: none;">
                            <div class="input-group-btn">
                                <button id="up" class="btn btn-default" onclick="change_quan('{{i.product.id}}','plus')" style="font-size: 25px;background: none;border: none;font-weight: bold;">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3 mt-5 text-center">
                    {%if i.total_price < i.product.price %}
                    $<p class="d-inline" style="font-weight: bold;" id="total{{i.product.id}}">{{i.total_price}}</p>
                    {% else %}
                    $<p class="d-inline" style="font-weight: bold;" id="total{{i.product.id}}">{{i.product.price}}</p>
                    {% endif %}
                </div> -->
            </div> 
            <script>
                     $("#cross{{i.product.id}}").hover(function() {
                        $("#cross{{i.product.id}}").toggleClass("fas fa-times-circle").toggleClass("far fa-times-circle")
                        $(this).css('cursor','pointer').attr('title', 'Click to remove product');
                    })
                    
                        $("#cross{{i.product.id}}").click(function(){
                        $.alert({
                            title: 'Alert!',
                            content: 'Product removed ',
                        })
                    })   
            </script>
            {% endfor %}

        </div> 
        <script>
            function grandTotal(){
                $.ajax({
                    url:"{% url 'get_cart_data' %}",
                    type:'get',
                    success:function(data){
                        p = Math.round((data.offer/data.total)*100,2)
                        $('.item_total').html("&dollar;"+data.total)
                        $('#offer').html("&dollar;"+data.offer)
                        $('#per').html("("+p+"%)")
                        $('#quantity').html(data.quan)
                        c = (data.total)-(data.offer)
                        $('#grand_Total').html("&dollar;"+c)
                    }
                })
            }
            grandTotal()

            function change_quan(id,action){
                let old = $("#cart"+id).val();
                quan = 0
                if(action=="plus"){
                    quan+=parseInt(old)+1
                }
                else{
                    quan+=parseInt(old)-1
                }
                $("#cart"+id).val(quan);


                $.ajax({
                    url:"{% url 'change_quan' %}",
                    type:"get",
                    data:{cid:id,quantity:quan},
                    success:function(data){
                        grandTotal();
                        if(action == "plus"){
                            n = parseFloat($('#total'+id).text()) + parseFloat($('#price'+id).text())
                           $("#total"+id).html(n)
                        }else{
                            n = parseFloat($('#total'+id).text()) - parseFloat($('#price'+id).text())
                            $("#total"+id).html(n)
                        }
                        if(data==0){
                            remove_cart(id);
                        }
                       
                    }
                });
            }
            function remove_cart(id) {
                $.ajax({
                    url:"{% url 'change_quan' %}",
                    data:{delete_cart:id},
                    success:function(data){
                       grandTotal();
                       $("#col"+id).hide()
                    }
                })
                }
           
        </script>
        <!-- TO stop form resubmission on refresh -->
        <script>
            if ( window.history.replaceState ) {
              window.history.replaceState( null, null, window.location.href );
            }
            </script>
         <div class="col-md-5 text-center py-5" style="background-color: rgba(255, 176, 218, 0.397);">
            <div class="row">
                    <img src="/static/Images/estore1.png" alt="" height="300px" style="margin: auto;">
            </div>
            <div class="pb-3 " style="font-size:30px;font-weight: bold;">--------------------</div>
            <h4 class="pt-3" style="font-family: Arial, Helvetica, sans-serif;letter-spacing: 3px;text-transform: uppercase;">Total: <span style="font-size: 28px;" class="item_total"></span></h4>
            <h4 class="pt-1" style="font-family: Arial, Helvetica, sans-serif;letter-spacing: 3px;text-transform: uppercase;">Quantity: <span style="font-size: 28px;" id="quantity"></span><span style="text-transform: none;"> Items</span></h4>
            <h4 class="pt-1" style="font-family: Arial, Helvetica, sans-serif;letter-spacing: 3px;text-transform: uppercase;">You Saved: <span style="font-size: 28px;" id="offer"></span><span class='text-success'style="font-size: 20px;" id="per"></span></h4>
            <h4 class="py-1" style="font-family: Arial, Helvetica, sans-serif;letter-spacing: 3px;text-transform: uppercase;">Grand Total: <del style="font-size: 25px; color:grey;" class="item_total"></del><span style="font-size: 28px;" id="grand_Total"></span></h4>
            <form class="pt-3" action="{% url 'checkout' %}"  >
                <!-- <input type="text"  placeholder="Coupon code.." name="cod" class="mt-3 text-center" style="letter-spacing: 2px;font-size: 20px;border-radius: 25px;width: 250px;height: 47px;background-color: rgb(255, 255, 255);border:2px solid thistle;" >
               <input type="submit" class="mt-3" value="Apply Code"name="acd" style="letter-spacing: 2px;font-size: 25px;border-radius: 25px;border: none;width: 250px;height: 45px;background-color: rgb(161, 158, 158);color: rgb(255, 255, 255);" > -->
                <input  type="submit" value="CHECKOUT" name="che" class="mt-5" style="letter-spacing: 2px;font-size: 25px;border-radius: 25px;border: none;width: 250px;height: 45px;background-color: black;color: rgb(255, 255, 255);" >
            </form>
        </div> 
     </div>
     {% endif %}
</div>
{% endif %}
{% endblock %}


  