{% extends 'base.html'%}
{% block head %}
<style>
    .img{background:url(/static/Images/wallpaperflare.com_wallpaper.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 200px;
        box-shadow: 0px 0px 11px rgb(197, 197, 197);}
    .heading{font-family: 'Aclonica';}
</style>
{% endblock %}
    
{% block body %}
<div class="container-fluid" style="background: rgb(241, 241, 241);">
    <form method="POST">
        {%csrf_token%}
    <div class="row">
        <div class="col-md-12 img">
            <h2 class="text-center text-dark py-5 my-4 heading">CHECKOUT</h2>
        </div>
        <div class="col-md-6 col-sm-12 py-5 mt-3">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label> NAME<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="" required name="first_name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>LAST NAME<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="" required name="last_name">
                    </div>
                </div>
                <div class="form-group">
                    <label>COUNTRY<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required name="country_name">
                </div>
                <div class="form-group">
                    <label>STATE<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="" required name="state_name">
                </div>
                <div class="form-group">
                    <label>CITY<span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="" required name="city_name">
                </div>
                <div class="form-group">
                    <label>POSTCODE<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" placeholder="" required name="postcode">
                </div>
                <div class="form-group">
                    <label>ADDRESS<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="" required name="address">
                </div>
                <div class="form-group">
                    <label>PHONE NO<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="" pattern="\d{10}" required name="phone_no" >
                </div>
                <div class="form-group">
                    <label>EMAIL ADDRESS</label>
                    <input type="email" class="form-control" placeholder="" name="email_address">
                </div>  

        </div>
        
        <div class="col-md-6  col-sm-12 py-5 mt-4">
            <div class="card">
                <div class="card-head  ">
                    <h4 class="font-weight-bold jumbotron py-4 text-center" >ORDER SUMMARY</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong >Product</strong>
                            <strong class="float-right">Total</strong>
                        </li>
                        {% for i in cart %}
                        <li class="list-group-item">
                            <strong id="{{i.product.id}}"  style="font-size: 20px;">{{i.quantity}}</strong> &#10005 <a href="/product_detail/?id={{i.product.id}}" style="text-decoration: none; color: black;"><strong id="{{i.product.id}}">{{i.product.name}}</strong></a>
                            {%if i.total_price < i.product.price %}
                            <div class="float-right"  id="total{{i.product.id}}" hidden>{{i.total_price}}</div>
                            <strong class="float-right" id="tot{{i.product.id}}"></strong>
                            {% else %}
                            <div class="float-right" id="total{{i.product.id}}" hidden>{{i.product.price}}</div>
                            <strong class="float-right" id="tot{{i.product.id}}"></strong>
                            {% endif %}
                            <div id="q{{i.product.id}}" hidden>{{i.quantity}}</div>
                        </li>
                        <script>
                            $(function(){
                                $.ajax({
                                    url:"{% url 'get_cart_data' %}",
                                    type:'get',
                                    success:function(data){
                                        c = (data.total)-(data.offer)
                                        $('#sub_total').html("&dollar;"+c)
                                        $('#total').html("&dollar;"+c)
                                        p= $("#total{{i.product.id}}").html()*$("#q{{i.product.id}}").html()
                                        $('#tot{{i.product.id}}').html("&dollar;"+p)
                                    }
                                })
                            })
                        </script>
                        {% endfor %}
                        <li class="list-group-item">
                            <!-- Subtotal -->
                            <strong>Subtotal</strong>
                            <strong class="float-right" id="sub_total"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong>Shipping Charges</strong>
                            <!-- Paid or Free -->
                             <strong class="float-right">--</strong>
                        </li>
                        <li class="list-group-item">
                            <strong>Taxes</strong>
                            <!-- Paid or Free -->
                             <strong class="float-right">--</strong>
                        </li>
                        <li class="list-group-item border-bottom" >
                            <!-- Total -->
                            <strong>Total</strong>
                            <strong class="float-right" id="total"></strong>
                        </li>
                    </ul>
                        <!-- <div class="form-group mt-5" id="head">
                            <input type="radio" name="payment"><label class="px-2 font-weight-bold" style="font-size: 18px;" data-toggle="collapse" data-target="#info">Netbanking</label>
                            <p class="collapse" id="info"><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, accusantium saepe excepturi, consequatur dolorem repellat iste nostrum molestias, soluta possimus pariatur labore nemo repellendus enim. Quis alias molestiae est recusandae!</small></p>
                        </div>
                       
                        <div class="form-group" id="head1">
                            <input type="radio" name="payment"><label class="px-2 font-weight-bold" style="font-size: 18px;" data-toggle="collapse" data-target="#info1">Cash On Delivery</label>
                            <p class="collapse" id="info1"><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, accusantium saepe excepturi, consequatur dolorem repellat iste nostrum molestias, soluta possimus pariatur labore nemo repellendus enim. Quis alias molestiae est recusandae!</small></p>
                        </div>
                   
                        <div class="form-group">
                            <input type="radio" name="payment"><label class="px-2 font-weight-bold" style="font-size: 18px;" data-toggle="collapse" data-target="#info2">Credit Card</label>
                            <p class="collapse" id="info2"><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, accusantium saepe excepturi, consequatur dolorem repellat iste nostrum molestias, soluta possimus pariatur labore nemo repellendus enim. Quis alias molestiae est recusandae!</small></p>
                        </div>
                      
                        <div class="form-group">
                            <input type="radio" name="payment"><label class="px-2 font-weight-bold" style="font-size: 18px;"  data-toggle="collapse" data-target="#info3">Debit Card</label>
                            <p class="collapse" id="info3"><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, accusantium saepe excepturi, consequatur dolorem repellat iste nostrum molestias, soluta possimus pariatur labore nemo repellendus enim. Quis alias molestiae est recusandae!</small></p>
                        </div>
                    
                        <div class="form-group">
                            <input type="radio" name="payment"><label class="px-2 font-weight-bold" style="font-size: 18px;" data-toggle="collapse" data-target="#info4">UPI/BHIM</label>
                            <p class="collapse" id="info4"><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, accusantium saepe excepturi, consequatur dolorem repellat iste nostrum molestias, soluta possimus pariatur labore nemo repellendus enim. Quis alias molestiae est recusandae!</small></p>
                        </div> -->
                        <div class="form-group pt-4">
                            <a href="{% url 'process_payment' %}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-decoration: none; color: white;">Proceed to payment</a>
                        </div>    
              </div>
            </div>
            <div class="card mt-3" style="width: 300px;">
                <div class="card-body">
                     <div class="pl-3">
                    <h4 class="mb-4">We accept</h4>
                    <img class="mr-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg" alt="Visa">
                    <img class="mr-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg" alt="American Express">
                    <img class="mr-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg" alt="Mastercard">
                    <img class="mr-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png" alt="PayPal acceptance mark">
                  </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock %}
