{% extends 'base.html' %}
{% block head %}
<style>
    
    #lol{height: 700px;background-size: cover; width: 100%; }
    select{height: 50px; width: 180px;color: rgb(158, 158, 158);border: 0.2px solid rgb(228, 225, 225);outline: none;font-weight: bold;padding-left: 10px;}
    .addbtn{background-color: rgb(40, 40, 250);border: none;;color: white;height: 50px; width: 180px;}
    .addbtn:hover{background-color:rgb(255, 7, 123);transition: 1s; color: white;}
    .product-favourite{font-size: 35px;  color: #ffd000;}
    @media screen and (max-width:680px){
            .st{font-size: 25px;}
            .box{padding-right: 0%;
                height: 600px;background-size:cover;
                margin-bottom: -300px;}
                #lol{
                    width: 120%;
                    height: 100%;
                    background-position: left;
                }
            .box2{margin-top: -30px; padding-left: 30px; }
            .colro{margin-left: 0px;margin-top: 20px;}
        }
    @media screen and (max-width:780px){
        .box{ height: 760px;background-size:cover;}
            .colro{margin-top: 0px;}
            .box2{margin-top: -60px;}
        }
        @media screen and (min-width:880px){
        .box{ height: 700px;background-size:cover;}
            .colro{margin-top: 20px;margin-left: 10px;}
        }

</style>
{% endblock %}

{% block body %}
<div class="container-fluid px-0" style="background-image: url(/static/images/wallpaperflare.com_wallpaper.jpg);background-size: cover; background-repeat: no-repeat;" >
        {% for product in product%}
        <div class="row"  style="margin-right:0px">
        <div class="col-md-6 box " >
            <!-- Create slider -->
            <div class="carousel slide" data-ride="carousel" id="abcd"style="width: 90%;">
              <!-- Carousel Indicators -->
              <ul class="carousel-indicators">
                  <li class="active" data-target="#abcd" data-slide-to="0"></li>
                  <li data-target="#abcd" data-slide-to="1"></li>
                  <!-- <li data-target="#abcd" data-slide-to="2"></li>
                  <li data-target="#abcd" data-slide-to="3"></li> -->
              </ul>
              <div class="carousel-inner">
                    <div class="carousel-item active">  
                        <img src="/media/{{product.images.0}}" class="" alt="" id="lol"> 
                    </div>
                    <div class="carousel-item">  
                        <img src="/media/{{product.images.1}}" class="" alt="" id="lol"> 
                    </div>
                   <!-- Carousel COntrol -->
              <a href="#abcd" class="carousel-control-prev" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
              </a>
              <a href="#abcd" class="carousel-control-next" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
              </a>
              </div>
            </div>
      </div>
        <div class="col-md-6 box2 pl-5">
           <div class=" mt-4">
            <p  style="color: rgb(82, 81, 81);margin-top: 120px;" >{{product.brand|upper}}</p>
            <h1 class="mt-3 st" >{{product.name}}<i class="pl-2  product-favourite far fa-heart" id="dtheart{{product.id}}" onclick="add_to_favorite('{{product.id}}')", data-toggle="tooltip" data-placement="top" title="Add to wishlist"></i></h1>
            <h3 class="mt-3" style="color: rgb(255, 7, 123);"></h3>              
            <p  class="mt-3" style="color: rgb(82, 82, 82);font-size: large;">{{product.description}}</p>
            <p style="font-size: 20px; font-weight: bolder;">Size: {{product.size}}</p>
            <p style="font-size: 20px; font-weight: bolder;">Color: {{product.color}}</p>
            <h3>Price:
                {% if product.discounted_price < product.price %}
                <del style="color: grey;">${{product.price}}</del> 
                ${{product.discounted_price}}
                <span class="text-danger">({{product.dis_per}}% off)</span>
                {% else %}
                ${{product.price}}</h3>
                {% endif %}
            <form action="{% url 'cart' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{product.id}}" name="pid">
                <input type="hidden" value="1" name="qty">
                <input type="hidden" value="{{product.images.0}}" name="img">
                <input type="hidden" value="{{product.discounted_price}}" name="dis_price">
                <button type="submit" class="d-block mt-3 addbtn btn" name="atc" value="Add to cart">Add to cart</button>
            </form>
       <script>
           $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
            function add_to_favorite(id){
                      $.ajax({
                        url:'/add_to_favourite',
                        type:'get',
                        data:{id:id},
                        success:function(data){
                            if(data.status==0){
                                alert(data.message);
                            }else{
                                if(data.status==1){
                                    $("#dtheart"+id).removeClass("far fa-heart").addClass("fas fa-heart")
                                }else if(data.status==2){
                                   $("#dtheart"+id).removeClass("fas fa-heart").addClass("far fa-heart")
                                }
                            else{
                                 alert("Somethng went wrong!");
                                }
                            }
                        }
                      })
                  }
                  $(function (){
                     $.ajax({
                         url:'/all_favourites',
                         type:'get',
                         success:function(data){
                            if(data.favourites.length>1){
                                for(i in data.favourites){
                                    $("#dtheart"+data.favourites[i]).removeClass("far fa-heart").addClass("fas fa-heart")
                                }
                            }
                        }
                    })
                  })
              </script>
           </div>
        </div>
        </div>
        {% endfor %}
</div>
{% endblock %}


    

