{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 my-5" style="margin: auto;  ">
            <div class="card" style="box-shadow: 0px 0px 10px black;">
                <div class="card-header">
                    <h3 class="mt-2">Reset Password</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <lable>Enter Your Username</lable>
                            <input type="text" name="username" class="form-control" placeholder="Enter Username" id="un" required>
                            <div id="result"></div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" onclick="getpass()" id="continue" name="forgot_pass">Submit</button>
                        </div>
                        <div class="d-flex justify-content-center" >
                            <div class="spinner-grow text-primary my-3" style=" display:none; height: 50px; width: 50px;" id="spin"  role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                        <div class="form-group" style="display: none;" id="afterotp">
                            <lable>Enter OTP</lable>
                            <input type="number" name="" class="form-control" placeholder="Enter OTP Here" id="uotp" required>
                            <button onclick="matchotp()" type="button" class="btn btn-info mt-3">Verify OTP</button>
                            <div id="otpresult"></div>
                        </div>
                        <div style="display:none" id="changepass">
                            <div class="form-group">
                                <label>Enter New Password</label>
                                <div class="input-group">
                                    <input type="password" id="pass" name="npass"  class="form-control pass" placeholder="Enter New Password..." >
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                           <i class="fas fa-eye" style="font-size: 20px;" id="ic"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="text" name="confirm_password" class="form-control" placeholder="Confirm password..."  id="conpass" onkeyup="confirm()" >
                                    <small id="out" ></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="CHANGE MY PASSWORD" id="btnSubmit" class="btn btn-success">
                            </div>
                        </div>
                        <input type="hidden"  id="realotp">
                        <script>
                            function getpass(){
                               $("#spin").show();
                               let username = $("#un").val()
                               $.ajax({
                                   url:"{% url 'resetpass' %}",
                                   type:"get",
                                   data: {username:username},
                                   success:function(data){
                                    $("#spin").hide();
                                    if(data.status=="failed"){
                                       $("#result").html("<p class='text-danger'>No user registred with this username</p>")
                                      }
                                    else if (data.status=="error"){
                                        $("#result").html("<p class='text-danger'>Something went wrong</p>")
                                    }
                                    else if (data.status=="sent"){
                                        $("#result").html("<p class='text-success'>An OTP sent to registered email</p>")
                                        $("#continue").hide();
                                        $("#afterotp").slideDown(1000);
                                        $('#realotp').val(data.rotp)
                                    }
                                   }
                                   
                               })
                            }
                            function matchotp(){
                                uotp = $("#uotp").val();
                                rotp = $("#realotp").val();
        
                          if(uotp==rotp){
                                $("#afterotp").hide()
                                $("#changepass").fadeIn(1000);
                                $("#otpresult").html("<p class='text-success'>Validation Success!!!</p>");
                            }else{
                                $("#otpresult").html("<p class='text-danger'>Incorrect OTP</p>");
                               }
                            }
                            $(function(){
                               $("#ic").click(function(){
                                var t = $(".pass").attr("type");
                                 if(t=="password"){
                                    $(".pass").attr("type","text");
                                    $(this).removeClass("fa-eye").addClass("fa-eye-slash");
                                }else{
                                    $(".pass").attr("type","password");
                                    $(this).removeClass("fa-eye-slash").addClass("fa-eye");
                                    }
                                });
                            });
                            function confirm() {
                                var password = $("#pass").val();
                                var confirmPassword = $("#conpass").val();
                                if (password != confirmPassword) {
                                    output = "Password does not match !!!"
                                    $("#conpass").attr("style","border: 2px solid red")
                                    $("#btnSubmit").addClass("disabled")
                                    $("#out").addClass("text-danger").removeClass("text-success").html(output);
                                    return false;
                                }
                                else{
                                    output = "Password matched !!!"
                                    $("#btnSubmit").removeClass("disabled")
                                    $("#conpass").removeAttr("style","border: 2px solid red")
                                    $("#out").addClass("text-success").removeClass("text-danger").html(output);
                                    return true;
                               }
                             };
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if status %}
    <script>
        alert("{{status}}");
        window.location="/dashboard"
    </script>
    {% endif %}
{% endblock %}