<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- all links are there:    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Styling Start here :   -->
    <style>
        .searchBox:hover  .searchInput {
    width: 180px;
    padding: 0px;
    }
    .searchButton {
    color: rgb(82, 81, 81);
    font-size: 30px;
    display: flex;
    transition: 0.4s;
    }

    .searchInput {
    border:none;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 90px;
    padding: 0px;
    }
    #icon{
        font-size: 30px;
        color: rgb(82, 81, 81);
    }
    #image{
        height: 170px;
        width: 300px;
        margin-right: 320px;
    }
    .link{
        font-size: 20px;
    }
    .number{
        position: relative;
        bottom: 20px;
        font-size: 14px;
    }
    @media screen and (max-width:768px) {
        #image{
            margin-left: 50px;
            margin-right: -320px;
        }        
    }
    @media  screen and (max-width:1024px){
        #image{
            width: 220px;
        }
    }
    @media screen and (width:768px) {
        .navbar-toggler{
            margin-left: 160px;
        }
    }
    </style>
   {% block head %}{% endblock %}
</head>
<body style="overflow-x:hidden;">
    <header>
        <div class="container-fluid border-bottom">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a href="{% url 'home' %}" class="navbar-brand p-4"><img src="https://preview.colorlib.com/theme/essence/img/core-img/logo.png" height="20px"></a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target=".menu" >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse menu">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a href="" class="nav-link  link dropdown-toggle" data-toggle="dropdown">Shop</a>
                                    <div class="dropdown-menu">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                          <div class="col-lg-3 col-sm-12 border-right px-5 pb-2" >
                                                             <h5 class="border-bottom py-2 mt-2">Women's Collection</h5>
                                                             <a href="" class="nav-link">Dresses</a>
                                                             <a href="" class="nav-link">Blouses & Shirts</a>
                                                             <a href="" class="nav-link">T-Shirts</a>
                                                             <a href="" class="nav-link">Rompers</a>
                                                             <a href="" class="nav-link">Bra & Panties</a>
                                                          </div>
                                                          <div class="col-lg-3 col-sm-12 border-right px-5 pb-2">
                                                             <h5 class="border-bottom py-2 mt-2">Men's Collection</h5>
                                                             <a href="" class="nav-link">T-Shirts</a>
                                                             <a href="" class="nav-link">Polo</a>
                                                             <a href="" class="nav-link">Shirts</a>
                                                             <a href="" class="nav-link">Jackets</a>
                                                             <a href="" class="nav-link">Trench</a>
                                                          </div>
                                                          <div class="col-lg-3 col-sm-12 px-5 pb-2">
                                                             <h5 class="border-bottom py-2 mt-2">Kid's Collection</h5>
                                                             <a href="" class="nav-link">Toys</a>
                                                             <a href="" class="nav-link">Diappers</a>
                                                             <a href="" class="nav-link">Baby Suits</a>
                                                             <a href="" class="nav-link">Baby Shoes</a>
                                                             <a href="" class="nav-link">Healthcare</a>
                                                          </div>
                                                          <div class="col-lg-3 col-sm-12">
                                                           <div id="image" style="background: url(https://preview.colorlib.com/theme/essence/img/bg-img/bg-6.jpg);margin-top: 50px; background-size: cover;"></div>
                                                          </div>
                                                    </div>      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="" class="nav-link link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu px-3" style="margin-top: 30px;">
                                        <a href="" class="dropdown-item border-bottom text-secondary">Home</a>
                                        <a href="" class="dropdown-item border-bottom text-secondary">Shop</a>
                                        <a href="" class="dropdown-item border-bottom text-secondary">Product details</a>
                                        <a href="" class="dropdown-item border-bottom text-secondary">Checkout</a>
                                        <a href="{% url 'blog' %}" class="dropdown-item border-bottom text-secondary">Blog</a>
                                        <a href="" class="dropdown-item border-bottom text-secondary">Single Blog</a>
                                        <a href="" class="dropdown-item text-secondary">Contact</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'blog' %}" class="nav-link link">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link link">Contact</a>
                                </li>
                            </ul>
                        </div>
                            <ul class="list-inline pt-3">
                            <li class=" list-inline-item">
                                <form class="px-3 form-row">
                                    <div class="form-row searchBox">
                                    <input class="searchInput form-control bg-transparent mt-1 border-bottom" type="search" name="" placeholder="Search...">
                                    <button class="searchButton btn " type="submit" href="#"><i class="fas fa-search "></i></button>
                                    </div>
                                </form>
                            </li>
                            <li class=" list-inline-item "><a href="" class="px-3  border-left nav-link"><i class=" far fa-heart" id="icon"></i></a></li>       
                            <li class=" list-inline-item "><a href="" class="px-3  border-left nav-link"><i class=" far fa-user" id="icon"></i></a></li>   
                            <li class=" list-inline-item "><a href="" class="px-3  border-left nav-link"><i class=" fas fa-shopping-cart" id="icon"></i><span class=" number badge-primary badge-pill badge mx-1">3</span></a></li>
                        </ul>    
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% block body%} {% endblock %}
    <footer>
        <div class="container-fluid bg-dark pt-5">
            <div class="row pt-4">
                <div class="col-md-6">
                    <div class=" ">
                      <ul class="list-inline">
                        <li class="list-inline-item mx-4"><a href="" class="text-light text-decoration-none"><h4>E-Commerce</h4></a></li>
                        <li class="list-inline-item mx-1"><a href="./E-commerce_footer.html" class="text-light text-decoration-none">Home</a></li>
                        <li class="list-inline-item mx-1"><a href="" class="text-light text-decoration-none">Shop</a></li>
                        <li class="list-inline-item mx-1"><a href="" class="text-light text-decoration-none">Contact</a></li>
                      </ul>
                    </div>
                    <form class="my-5 ml-5">
                        <div class="mb-2 text-light" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">SUBSCRIBE</div>
                      <input type="email" class="bg-transparent text-white" style="outline: none; border:none; border-bottom:1px solid white;">
                      <input type="submit"   class="btn text-light">
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                                <ul class="list-unstyled" style="line-height:30px;">
                                    <li><a href="" class="text-light text-decoration-none">Order Status</a></li>
                                    <li><a href="" class="text-light text-decoration-none">Shipping and Delivery</a></li>
                                    <li><a href="" class="text-light text-decoration-none">Privacy Policy</a></li>
                                </ul>
                        </div>
                        <div class="col-md-6">
                                <ul class="list-unstyled" style="line-height:30px;">
                                    <li><a href="" class="text-light text-decoration-none">Payment option</a></li>
                                    <li><a href="" class="text-light text-decoration-none">Guides</a></li>
                                    <li><a href="" class="text-light text-decoration-none">Term of use</a></li>
                                </ul>
                        </div>
                        <div class="col-md-12 my-4" style="word-spacing: 10px; font-size: 20px;"> 
                            <a href="https://facebook.com"><abbr title="facebook"><i class="fab fa-facebook text-light"></i></abbr></i></a>
                            <a href="https://instagram.com"><abbr title="instagram"><i class="fab fa-instagram text-light"></i></a>
                            <a href="https://pinterest.com"><abbr title="pinterest"><i class="fab fa-pinterest text-light"></i></a>
                            <a href="https://twitter.com"><abbr title="twitter"><i class="fab fa-twitter text-light"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-5 pb-2">
                    <p class="text-light text-center mb-5">Copyright ©2021 All rights reserved | This template is made by <em class="text-warning ">SUKHPAL</em> and <em class="text-warning"> ARCHIT</em></p>
                </div>
            </div>
        </div>
       </footer>
</body>
</html>