{% extends 'base.html'%}
{% block head %}
<style>
    #vc{border: none;height: 40px; width: 200px;text-transform: uppercase;background-color: teal;}
    #vc:hover{background-color: rgb(235, 10, 85);transition: 1s;}
     #c:hover{background-color: rgb(235, 10, 85);transition: 1s;}
    .ln,.kn,.jn{background-color: rgba(0, 0, 0, 0.300);}
    .ln:hover{background: rgba(199, 2, 2, 0.596); transition: 1s;color: rgb(0, 0, 0);}
    .kn:hover{background: rgba(225, 11, 233, 0.596); transition: 1s;color: rgb(0, 0, 0);}
    .jn:hover{background: rgba(9, 253, 131, 0.596); transition: 1s;color: rgb(0, 0, 0);}
    #c{width: 100px;height: 40px;position: absolute;top: 250px;right:60px;border: none;background-color: teal;}
    .hmhrticn{
      font-size: 27px;
      color: #ffffff;
      position: absolute;
      top: 15px;
      left: 260px;
    }
    @media screen and (max-width:460px){
        .main{height: 300px;padding: 0px;}   
        .front{padding: 0px;} 
        .a{margin: 15px;}
        .qp{position:relative;left: 130px;}
        .hmhrticn{left: 350px;}
        
    }
    @media screen and (min-width:600px){
        .main{height: 300px; }   
        .a{margin: 80px;} 
        .qp{position:relative;left: 50px;}
    }
    @media screen and (min-width:1020px){
        .main{height: 500px; padding: 20px;}  
        h2{font-size:80px;}  
        h5{font-size: 30px;}
        .a{margin: auto;padding: 50px;}
        .qp{margin: auto;}
    }
    
</style>
{% endblock %}
{% block body %}
<!-- banner start  -->
<div class="container-fluid">
    <div class="row front-top ">
        <div class="col-12 text-white main" style="background-image: url(/static/Images/couple\ Young.jpg);background-size: cover;background-attachment:scroll;">
            <div class="p-5 mt-5 front">
                <h5>assos</h5>
                <h2 class="mt-1 c">New Collection</h2>
                <input type="button" name="vc" id="vc" value="View Collection" class="mt-4 text-white" >
            </div>
        </div>
    </div>
</div>
<!-- banner end  -->
<!-- sub part start  -->
<div class="contaner-fluid  my-5 " >
    <div class="row">
        <div class="col-md-4 my-5 px-5 text-white">
            <div style="background-image: url(/static/Images/pexels-anna-shvets-5325554.jpg);height: 300px;background-size:cover;">
                <div style="background-color: black; background-size: 100% 100%;"></div>
                <div class="text-center ln" style="font-weight: bolder;text-transform: uppercase;font-size:20px;line-height: 300px;"> Clothing</div>
            </div>
        </div>
    <div class="col-md-4 my-5 px-5 text-white">
        <div style="background-image: url(/static/Images/pexels-erik-mclean-4273288.jpg);height: 300px;background-size:cover;">
         <div class="text-center kn" style="font-weight: bolder;text-transform: uppercase;font-size:20px;line-height: 300px; "> Shoes</div>
     </div>
 </div>
 <div class="col-md-4 my-5 px-5 text-white">
    <div style="background-image: url(/static/Images/Glasses.jpg);height: 300px;background-size:cover;">
     <div class="text-center jn" style="font-weight: bolder;text-transform: uppercase;font-size:20px;line-height: 300px; "> Accessories</div>
 </div>
</div>
</div>
</div>
<!-- sub part end  -->
<!-- sale banner start  -->
<div class="container-fluid">
    <div class="row front-top ">
        <div class="col-12 text-white main" style="background-image: url(/static/Images/pexels-ricardo-esquivel-1964471.jpg);background-size: contain;background-attachment: fixed;">
            <div class="p-5 mt-5 front" style="float: right;">
                <h5 style="color: rgb(252, 64, 158);">-60%</h5>
                <h2 class="mt-1" style="color:white;">New Collection</h2>
                <input type="button" name="vc" id="vc" value="Buy Now" class="mt-4 text-white" >
            </div>
        </div>
    </div>
</div>
<!-- sale banner end  -->
<h3 class="text-center mt-5">Popular Products</h3>
<!-- popular products start  -->
<div class="container-fluid mt-5" >
     <div class="row">
        <div class="col-md-12">
            <!-- Create Slider -->
    <div class="carousel slide" data-ride="carousel" id="abcd" >
        <!-- carousel-indicators  -->
        <ul  class="carousel-indicators" >
            <li class="active" data-target="#abcd" data-slide-to="0"></li>
            <li  data-target="#abcd" data-slide-to="1" > </li>

        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row  ">
                    <div class=" col-md-3 a " id="b1">
                        <div class=" row ">
                            <div class="col-12 ">
                                            <div style="background-image: url(/static/Images/asd1.jpg);height: 300px;background-size: cover;">
                                                <div class="i1" style="background-image: url(/static/Images/asd2.jpg);background-size: cover;height: 300px;" >
                                                <input type="button" name="vc" id="c" value="Add to cart" class="btn text-white qp"  > </div>
                                            </div>
                                            <i class="far fa-heart hmhrticn" id="hmheart1"></i>
                                                <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                            <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">colros</h6>
                                            <h6>Desire Scarf differnt colors</h6>
                                            <h6><del style="color: grey;">$75.00</del> $55.00</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 a " id="b2">
                        <div class=" row ">
                            <div class="col-12 ">
                                            <div style="background-image: url(/static/Images/yw\ 1.jpg);height: 300px;background-size: cover;">
                                                <div class="i2" style="background-image: url(/static/Images/yw\ 2.jpg);background-size: cover;height: 300px;" >
                                                <input type="button" name="vc" id="c" value="Add to cart" class="btn text-white qp "  > </div>
                                            </div>
                                            <i class="far fa-heart hmhrticn" id="hmheart2"></i>
                                                <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                            <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">Suncolor</h6>
                                            <h6>Mustard yelloe Sweater </h6>
                                            <h6>$55.00</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 a " id="b3">
                        <div class=" row ">
                            <div class="col-12 ">
                                            <div style="background-image: url(/static/Images/kid1.jpg);height: 300px;background-size: cover;">
                                                <div class="i3" style="background-image: url(/static/Images/kid2.jpg);background-size: cover;height: 300px;" >
                                                <input type="button" name="vc" id="c" value="Add to cart" class="btn text-white qp "  > </div>
                                            </div>
                                            <i class="far fa-heart hmhrticn" id="hmheart3"></i>
                                                <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                            <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">Kidding</h6>
                                            <h6>BIB toy Jean pent </h6>
                                            <h6><del style="color: grey;">$55.00</del>   $45.00</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 a " id="b4">
                        <div class=" row ">
                            <div class="col-12 ">
                                            <div style="background-image: url(/static/Images/yellow.jpg);height: 300px;background-size: cover;">
                                                <div class="i4" style="background-image: url(/static/Images/yellow\ 3.jpg);background-size: cover;height: 300px;" >
                                                <input type="button" name="vc" id="c" value="Add to cart" class="btn text-white qp "  > </div>
                                            </div>
                                            <i class="far fa-heart hmhrticn" id="hmheart4"></i>
                                                <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                            <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">yelloe world</h6>
                                            <h6>shirt yelloe  </h6>
                                            <h6>$35.00</h6>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
            <!-- 1st row finished -->
            <!-- 2nd row start  -->
            <div class="carousel-item ">
                <div class="row  ">
                    <div class=" col-md-3 a " id="b5">
                        <div class=" row ">
                            <div class="col-12 ">
                                            <div style="background-image: url(/static/Images/grey1.jpg);height: 300px;background-size: cover;">
                                                <div class="i5" style="background-image: url(/static/Images/grey2.jpg);background-size: cover;height: 300px;" >
                                                <input type="button" name="vc" id="c" value="Add to cart" class="btn text-white qp "  > </div>
                                            </div>
                                            <i class="far fa-heart hmhrticn" id="hmheart5"></i>
                                                <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                            <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">dustdunes</h6>
                                            <h6>Great grey jacket</h6>
                                            <h6><del style="color: grey;">$75.00</del>   $55.00</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 a " id="b6">
                        <div class=" row ">
                            <div class="col-12 ">
                                            <div style="background-image: url(/static/Images/white2.jpg);height: 300px;background-size: cover;">
                                                <div class="i6" style="background-image: url(/static/Images/White.jpg);background-size: cover;height: 300px;" >
                                                <input type="button" name="vc" id="c" value="Add to cart" class="btn text-white qp "  > </div>
                                            </div>
                                            <i class="far fa-heart hmhrticn" id="hmheart6"></i>
                                                <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                            <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">Suncolor</h6>
                                            <h6>Milk white outfit </h6>
                                            <h6>$155.00</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 a " id="b7">
                        <div class=" row ">
                            <div class="col-12 ">
                                            <div style="background-image: url(/static/Images/brown1.jpg);height: 300px;background-size: cover;">
                                                <div class="i7" style="background-image: url(/static/Images/brown2.jpg);background-size: cover;height: 300px;" >
                                                <input type="button" name="vc" id="c" value="Add to cart" class="btn text-white qp "  > </div>
                                            </div>
                                            <i class="far fa-heart hmhrticn" id="hmheart7"></i>
                                                <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                            <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">cokkiee</h6>
                                            <h6>brown white line sweater</h6>
                                            <h6><del style="color: grey;">$85.00</del>   $75.00</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 a " id="b8">
                        <div class=" row ">
                            <div class="col-12 ">
                                            <div style="background-image: url(/static/Images/balck.jpg);height: 300px;background-size: cover;">
                                                <div class="i8" style="background-image: url(/static/Images/balck\ \(2\).jpg);background-size: cover;height: 300px;" >
                                                <input type="button" name="vc" id="c" value="Add to cart" class="btn text-white qp "  > </div>
                                            </div>
                                            <i class="far fa-heart hmhrticn" id="hmheart8"></i>
                                                <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                            <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">Dark Desires</h6>
                                            <h6>Sexy Black Jacket </h6>
                                            <h6>$79.00</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2nd row finished -->
        </div>
       
        
    </div>
    <!-- carousel finished  --> 
        </div>
     </div>
</div>
<!-- popular products finished  -->
<div class="container-fluid jumbotron mb-0">
<div class="row">
    <div class="col-md-6 col-sm-12">
       <div class="row">
        <div class="col-4"><a href=""><img class="my-4" src="https://preview.colorlib.com/theme/essence/img/core-img/brand1.png" style="max-width: 100%;" height="20px"></a></div>
        <div class="col-4"><a href=""><img class="my-4" src="https://preview.colorlib.com/theme/essence/img/core-img/brand2.png" style="max-width: 100%;" height="20px"></a></div>
        <div class="col-4"><a href=""><img class="my-4" src="https://preview.colorlib.com/theme/essence/img/core-img/brand3.png" style="max-width: 100%;" height="20px"></a></div>
       </div>
    </div>
    <div class="col-md-6 col-sm-12">
       <div class="row">
        <div class="col-4"><a href=""><img class="my-4" src="https://preview.colorlib.com/theme/essence/img/core-img/brand4.png" style="max-width: 100%;" height="20px"></a></div>
        <div class="col-4"><a href=""><img class="my-4" src="https://preview.colorlib.com/theme/essence/img/core-img/brand5.png" style="max-width: 100%;" height="20px"></a></div>
        <div class="col-4"><a href=""><img class="my-4" src="https://preview.colorlib.com/theme/essence/img/core-img/brand6.png" style="max-width: 100%;" height="20px"></a></div>
       </div>
    </div>
</div>
</div>
<!-- function script start  -->
<script>
      $(function(){
            
            $(".i1").hide(1);
            $(".i2").hide(1);
            $(".i3").hide(1);
            $(".i4").hide(1);
            $(".i5").hide(1);
            $(".i6").hide(1);
            $(".i7").hide(1);
            $(".i8").hide(1);
            $("#hmheart1").hide(1)
            $("#hmheart2").hide(1)
            $("#hmheart3").hide(1)
            $("#hmheart4").hide(1)
            $("#hmheart5").hide(1)
            $("#hmheart6").hide(1)
            $("#hmheart7").hide(1)
            $("#hmheart8").hide(1)
            $("#b1").mouseenter(function(){
                $(".i1").show(100);
                $("#hmheart1").show(100)
                $("#hmheart1").click(function(){
                    $("#hmheart1").toggleClass("far fa-heart text-danger").toggleClass("fas fa-heart")         
               });
            });
            $("#b1").mouseleave(function(){
                $(".i1").hide(100);
            });
            $("#b2").mouseenter(function(){
                $(".i2").show(100);
                $("#hmheart2").show(100)
                $("#hmheart2").click(function(){
                    $("#hmheart2").toggleClass("far fa-heart text-danger").toggleClass("fas fa-heart")         
               });
        
            });
            $("#b2").mouseleave(function(){
                $(".i2").hide(100);
        
            });
            $("#b3").mouseenter(function(){
                $(".i3").show(100);
                $("#hmheart3").show(100)
                $("#hmheart3").click(function(){
                    $("#hmheart3").toggleClass("far fa-heart text-danger").toggleClass("fas fa-heart")         
               });
        
            });
            $("#b3").mouseleave(function(){
                $(".i3").hide(100);
        
            });
            $("#b4").mouseenter(function(){
                $(".i4").show(100);
                $("#hmheart4").show(100)
                $("#hmheart4").click(function(){
                    $("#hmheart4").toggleClass("far fa-heart text-danger").toggleClass("fas fa-heart")         
               });
        
            });
            $("#b4").mouseleave(function(){
                $(".i4").hide(100);
        
            });
            $("#b5").mouseenter(function(){
                $(".i5").show(100);
                $("#hmheart5").show(100)
                $("#hmheart5").click(function(){
                    $("#hmheart5").toggleClass("far fa-heart text-danger").toggleClass("fas fa-heart")         
               });
        
            });
            $("#b5").mouseleave(function(){
                $(".i5").hide(100);
        
            });
            $("#b6").mouseenter(function(){
                $(".i6").show(100);
                $("#hmheart6").show(100)
                $("#hmheart6").click(function(){
                    $("#hmheart6").toggleClass("far fa-heart text-danger").toggleClass("fas fa-heart")         
               });
        
            });
            $("#b6").mouseleave(function(){
                $(".i6").hide(100);
        
            });
            $("#b7").mouseenter(function(){
                $(".i7").show(100);
                $("#hmheart7").show(100)
                $("#hmheart7").click(function(){
                    $("#hmheart7").toggleClass("far fa-heart text-danger").toggleClass("fas fa-heart")         
               });
            });
            $("#b7").mouseleave(function(){
                $(".i7").hide(100);
        
            });
            $("#b8").mouseenter(function(){
                $(".i8").show(100);
                $("#hmheart8").show(100)
                $("#hmheart8").click(function(){
                    $("#hmheart8").toggleClass("far fa-heart text-danger").toggleClass("fas fa-heart")         
               });
        
            });
            $("#b8").mouseleave(function(){
                $(".i8").hide(100);
        
            });
        });
</script>
<!-- function script end  -->
{% endblock %}